@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-colour: hsl(192, 91%, 36%);
  --gray-colour: hsl(0, 0%, 35%);
  --shadow: 2px 1px 4px 2px rgba(0, 0, 0, .2);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

p {
  color: var(--gray-colour);
  line-height: 1.75rem;
  text-wrap: pretty;
}

section {
  padding: 60px 0;
}

.inner {
  width: clamp(900px, 75vw, 90%);
  margin: 0 auto;
}

/* ABOUT */
.about {
  position: relative;
  overflow-x: clip;
  height: 85dvh;
}

.about .inner {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  height: 100%;
}

.portrait-container {
  min-height: 100%;
  object-fit: cover;
  z-index: 1;

  /* grid placement */
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;

  /* itself is a grid */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.portrait {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  box-shadow: var(--shadow);
  z-index: 2;
}

.name {
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 3;
  text-align: center;
  align-self: end;
  padding: 8px 4px;
  color: white;
  font-size: 4rem;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
}

.card {
  max-height: 92%;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 48px 28px 36px 28px;

  /* grid placement */
  grid-column: 2 / 3;
  align-self: center;

  /* flexbox */
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.card>p {
  font-size: 1rem;
  line-height: 2rem;
}

.socials-buttons {
  display: flex;
  gap: 20px;
}

.about .socials-buttons {
  justify-content: end;
}

.trapezium {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -99;
  transform: scale(1.51) rotate(-10deg) translateY(-35%);
  box-shadow: var(--shadow);
  background-color: var(--primary-colour);
}

/* BUTTONS */
button {
  background-color: black;
}

.socials-buttons button {
  width: 24px;
  height: 24px;
}

.github-button {
  mask-image: url("../icons/github.svg")
}

.linkedin-button {
  mask-image: url("../icons/linkedin.svg");
}

.twitter-button {
  mask-image: url("../icons/twitter-x.svg");
}

.external-link {
  mask-image: url("../icons/external-link.svg");
}

/* WORK (MY WORK) */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 36px;
  margin-top: 20px;
}

.project {
  box-shadow: var(--shadow);
  padding-bottom: 48px;
}

.work .text-container {
  padding: 12px 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container .links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links button {
  width: 20px;
  height: 20px;
}

.project p {
  font-size: .85rem;
}

.project>img {
  width: 100%;
}

/* CONTACT ME */
.contact-me {
  background-color: var(--primary-colour);
}

.contact-me .inner {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 24px;
}

.contact-me h2,
.contact-me p {
  color: white;
}

.contact-photo {
  object-fit: cover;
  object-position: left center;
  height: 100%;
  width: 100%;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-icon {
  height: 1.5rem;
  min-width: 1.5rem;
  background-color: white;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.phone-icon {
  mask-image: url("../icons/phone.svg");
}

.email-icon {
  mask-image: url("../icons/mail.svg");
}

/* MEDIA QUERIES */
/* TABLET */
@media (max-width: 1025px) {
  .inner {
    width: 85vw;
  }

  /* ABOUT */
  .about {
    height: 100%;
  }

  .about .inner {
    display: block;
    position: relative;
  }

  .portrait-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, -5%);
  }

  .portrait {
    width: 20rem;
  }

  .name {
    position: absolute;
    top: 0;
    left: min(105%, 50vw);
  }

  .card {
    display: inline-block;
    padding: 48px 24px;
    margin-bottom: 48px;
    transform: translateY(20%);
  }

  .card>h2 {
    text-align: center;
    margin: 2vmin 0 3vmin 0;
  }

  .card>p {
    line-height: 1.8rem;
  }

  .card>.corner {
    float: left;
    width: min(16rem, 85%);
    height: min(135px, 17vw);
    z-index: 9;
    margin: 16px;
  }

  .about .socials-buttons {
    display: none;
  }

  /* PROJECTS */
  .projects-grid {
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* CONTACT */
  .contact-me .inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  .contact-photo {
    object-position: center;
  }
}

/* MOBILE */
@media (max-width: 599px) {
  h2 {
    text-align: center;
  }

  p {
    line-height: 1.5rem;
  }

  /* ABOUT ME */
  .about {
    padding: 0;
  }

  .about * {
    transform: none;
  }

  .about>.inner * {
    position: static;
  }

  .portrait-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }

  .portrait {
    width: 90%;

    /* grid placement */
    grid-column: 1 / 2;
    place-self: center;
  }

  .name {
    font-size: min(3.3rem, 15vmin);
  }

  .card {
    box-shadow: none;
    background-color: transparent;
    padding: 36px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 3vmin;
  }

  .card h2,
  .card p {
    width: 85vw;
    margin: 0 auto;
  }

  .card>.corner {
    display: none;
  }

  .about .socials-buttons {
    /* unhide */
    display: flex;
    justify-content: center;
  }

  .trapezium {
    transform: scale(2.5) rotate(-30deg) translateY(-60%);
  }

  /* MY WORK */
  .work {
    padding-bottom: 12rem;
  }

  .projects-grid {
    gap: 60px;
  }

  .project-description {
    line-height: 1.1rem;
  }

  /* CONTACT */
  .contact-me {
    padding-top: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contact-me .inner {
    width: 100vw;
    grid-template-columns: 1fr;
    gap: 84px;
  }

  .contact-me .text-container {
    width: 85vw;
    margin: 0 auto;
  }

  .contact-me p:not(.subtext) {
    font-size: .85rem;
    letter-spacing: .05rem;
    line-height: 1.05rem;
  }

  .contact-me .subtext {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .contact-me .socials-buttons {
    margin: 0 auto;
    gap: 36px;
  }

  .contact-me .socials-buttons button {
    width: 36px;
    height: 36px;
  }

  .contact-photo {
    display: block;
  }

}